.panel, .statusContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel {
    padding: 10px 10px;
    font-weight: 300;
    color: #5f5f5f;
    font-size: 14px;
}

.filters {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.filterItem, .clearCompletedTodo {
    cursor: pointer;
    padding: 2px 6px;
    border: 2px solid transparent;
    border-radius: 3px;
}

.filterItem:hover, .clearCompletedTodo:hover {
    border-color: rgba(175, 47, 47, 0.1);
    transition: ease-in-out 0.3s;
}

.clearCompletedTodo:active, .filterItem:active {
    border-color: rgba(175, 47, 47, 0.356);
    transition: ease-in-out 0.1s;
}

.radio:checked + label {
    border-color: rgba(247, 3, 3, 0.1);
}

.radio {
    display: none;
}


@media screen and (max-width: 546px) {
    .panel {
        font-size: 12px;
    }
}

@media screen and (max-width: 408px) {
    .panel {
        font-size: 10px
    }
}
