.textField {
    font-size: 22px;
    font-weight: 200;
    line-height: 2.5;
    width: 475px;
    border: none;
    outline: none;
}
::placeholder {
    color: #d1d1d1;
    font-style: italic;
}

@media screen and (max-width: 546px) {
    .textField {
        width: 345px;
        font-size: 20px;
    }
}

@media screen and (max-width: 408px) {
    .textField {
        width: 250px;
        font-size: 16px;
    }
}