.form {
    display: flex;
    align-items: center;
}

.addIcon {
    cursor: pointer;
    color: #00000042;
}

.addIcon:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.3s;
    color: #3d3d3d;
}


.textField {
    font-size: 22px;
    font-weight: 200;
    line-height: 2.5;
    width: 440px;
    border: none;
    outline: none;
}
::placeholder {
    color: #d1d1d1;
    font-style: italic;
}

@media screen and (max-width: 546px) {
    .textField {
        width: 308px;
        font-size: 20px;
    }
}

@media screen and (max-width: 408px) {
    .textField {
        width: 258px;
        font-size: 16px;
    }
}